@import '../../variables';

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $primary; }
}

#home {
  animation: fade-in 1s ease-out;

  .heavy-1 {
    font-weight: 600;
  }

  .big-logo {
    position: absolute;
    top: 2rem;
    left: calc(50vw - 100px);
  }

  .main-title {
    .flex-container {
      display: flex;
      justify-content: center;
      .typewriter {
        margin-top: calc(50vh - 64px);
        .title {
          padding: 0 .2rem;
          border-right: .10em solid $secondary-green; /* The typwriter cursor */
          margin: 0 auto;
          overflow: hidden;
          white-space: nowrap;
          letter-spacing: 0.1rem;
          
          color: lighten($light, 20);
          font-size: 64px;
          animation: typing 2s steps(20, end), blink-caret .75s step-end infinite;
          }
      }
    }
    .description {
      color: $light;
      font-size: 32px;
      margin-top: 2rem;
    }
  }
  
  .contact {
    color: $light;
    font-size: 1.2rem;
    font-weight: 600;

    .email {
      margin: 5rem 0 2rem 0;
    }
  }

  @media screen and (max-width: 1050px) {
    h1.title {
      font-size: 3rem !important;
    }
    .description {
      font-size: 1.7rem !important;
    }
    .contact {
      font-size: 1rem !important;
      .email {
        margin: 2rem 0 1rem 0;
      }
    }
  }
  
  @media screen and (max-width: 650px) {
    margin-left: 60px !important;
    .big-logo {
      left: calc(50vw - 75px + 30px);
      top: 7rem;
      img {
        width: 150px;
        height: 150px;
      }
    }
    h1.title {
      font-size: 2rem !important;
    }
    .description {
      font-size: 1.5rem !important;
    }
  }

  @media screen and (max-width: 450px) {
    h1.title {
      font-size: 1.5rem !important;
    }
    .description {
      font-size: 1.2rem !important;
    }
  }

  @media screen and (max-height: 650px) {
    margin-left: 60px !important;
    .big-logo {
      left: calc(50vw - 50px + 20px);
      top: 4rem;
      img {
        width: 100px;
        height: 100px;
      }
    }
  }

  @media screen and (max-height: 450px) {
    .big-logo {
      top: 2;
    }

    h1.title {
      font-size: 1.7rem !important;
      margin-top: 3rem !important;
    }

    .description {
      font-size: 1.3rem !important;
    }
  }
}