@import '../../variables';

#about {
  animation: fade-in 1s ease-out;
  .title {
    margin: 5rem 0 3rem 0;
  }
  .description {
    font-family: 'Lexend Deca', sans-serif;

    margin: 0 auto;
    font-size: 16px;
    width: 45vw;
    letter-spacing: 0.15rem;
    line-height: 1.5;
    color: $light;
  }

  .skills {
    .subtitle {
      color: $light;
      font-size: 32px;
      margin: 5rem 0 3rem 0;
    }
    .skills-lists {
      margin-top: 1rem;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      .fe-skill-set, .be-skill-set {  
        h3 {
          color: $light;
          font-size: 1.4rem;
        }
        ul {
          list-style: none;
          li {
            font-weight: 600;
            margin: 1rem;
          }
        }
      }   
    }
  }
  
  @media screen and (max-width: 1050px) {
  }
  
  @media screen and (max-width: 650px) {
    margin-left: 60px !important;
    .description {
      width: 60vw;
    }

    .skills-lists {
      flex-direction: column !important;
      .fe-skill-set {
        margin: 0 0 2rem 0;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .title {
      font-size: 3rem;
    }
    .subtitle {
      font-size: 1.75rem !important;
    }
  }

}
